.movie-card {
  background: #15151b;
  border: 1px solid #222;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
  transition: 0.3s ease;
  box-shadow: 0 0 10px #000;
}

.movie-card:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px rgba(255, 0, 0, 0.35);
}


.movie-poster img {
  width: 100%;
  height: 320px;
  object-fit: cover;
}


.movie-overlay {
  position: absolute;
  top: 10px;
  right: 10px;
}

.favourite-btn {
  background: rgba(0, 0, 0, 0.7);
  border: 1px solid #ff4d4d;
  color: #ff4d4d;
  padding: 8px 12px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 20px;
  transition: 0.2s;
}

.favourite-btn:hover {
  background: rgba(255, 0, 0, 0.3);
  color: white;
  box-shadow: 0 0 10px #ff4444;
}

/* Movie info */
.movie-info {
  padding: 12px 15px;
  text-align: center;
}

.movie-info h3 {
  margin: 5px 0;
  font-size: 18px;
}

.movie-info p {
  color: #bbb;
  font-size: 14px;
}
.movies-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 25px;
  padding: 20px;
}
